.create-question-section {
    display: flex;
    justify-content: center;

    .create-question {
        flex: 0 0 60%;

        @media only screen and (max-width:$bp-larger) {
            flex: 0 0 70%;
        }

        @media only screen and (max-width:$bp-large) {
            flex: 0 0 90%;
        }
    }

    .preview-quiz {
        flex: 1;
        align-self: flex-start;
    }
}

.create-question {


    .horizontal-div .form_group {
        flex: 0 0 55%;
    }




}

.options {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;

    .button {
        align-self: flex-start;
        margin-bottom: .2rem;
    }

    &_list {
        list-style: none;
        background-color: #fff;
        min-width: 20rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 1rem;

        &-item {
            align-self: flex-start;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            p {
                flex: 0 0 70%;
                word-break: break-all;
                text-align: left;
            }

            i {
                padding: 0;
            }
        }
    }

}

.bullet-green {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: $color-primary-dark;
    display: inline-block;
    margin-right: .5rem;


}