.form {
    display: flex;
    flex-direction: column;
    // &-login {
    //     background-image: linear-gradient(rgba($color-white, .8), rgba($color-white, .8));
    //     padding: 2rem;
    //     max-width: 90%;
    //     width: 30%;
    //     margin-top: 10rem;


    //     @media only screen and (max-width:$bp-larger) {
    //         width: 50%;
    //     }

    //     @media only screen and (max-width:$bp-large) {
    //         width: 60%;
    //     }

    //     @media only screen and (max-width:$bp-sm) {
    //         width: 100%;
    //     }

    // }


    &_group {
        // width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &_input {
        font-size: 2rem;
        font: inherit;
        width: 100%;
        // display: block;
        background-color: rgba($color-white, .7);
        border: none;
        border-radius: 3px;
        height: auto;
        padding: 1rem 1.5rem;
        color: inherit;

        // @include respond(tab-port) {
        //     width: 100%;
        // }

        &::-webkit-input-placeholder {
            color: #999;
        }

        &-invalid {
            border-bottom: 3px solid $color-error;
        }
    }

    &_input:focus {
        outline: none;
        border-bottom: 3px solid $color-primary;
        box-shadow: 0 1rem 2rem rgba(black, 0.3);

        &:invalid {
            border-bottom: 3px solid $color-error;


        }
    }

    &_feedback {
        &-invalid {
            // width: 100%;
            // margin-top: .25rem;
            font-size: 1.2rem;
            color: #dc3545;
            display: none;
            align-self: flex-start;

        }
    }

    &_input-invalid~&_feedback-invalid {
        display: block;
    }

    &_label {
        margin-top: .7rem;
        margin-left: 1.5rem;
        font-weight: 700;
        display: block;
        transition: all .3s;
        align-self: flex-start;
    }

    &_input:placeholder-shown+&_label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);
    }

    &_radio-group {
        display: flex;
        margin: .25rem;
        // @include respond(phone) {
        //     width: 100%;
        //     margin-bottom: 1.5rem;
        // }
    }

    &_radio-input {
        opacity: 0;
        margin: 0;
    }

    &_radio-label {
        // font-size: 1.6rem;
        font-weight: 300;
        cursor: pointer;
        display: flex;
        align-items: baseline;
    }

    &_radio-button {
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 50%;
        border: .2rem solid $color-primary-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;

        &::after {
            content: "";
            height: .8rem;
            width: .8rem;
            border-radius: 50%;
            background-color: $color-primary-dark;
            opacity: 0;
        }
    }

    &_radio-input:checked~&_radio-label &_radio-button::after {
        opacity: 1;
    }
}