.play {

    div &-section {

        width: 60%;

        @media only screen and (max-width:$bp-larger) {
            width: 70%;
        }

        @media only screen and (max-width:$bp-large) {
            width: 90%;
        }


    }

    &_header {
        padding: 1rem;
    }

    &_description {
        color: $color-grey-dark-1;
        font-weight: 300;
        font-size: 2rem;
    }


    &_questions-list {
        list-style: none;

        &--item {
            padding: .75rem 1.25rem;
            margin-bottom: -1px;
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 2rem;

    &_heading {
        font-size: 1.6rem;
        font-weight: 500;
        display: flex;
        align-items: baseline;

        span {
            margin-right: 1rem;
        }
    }
}

.tick,
.cross {
    cursor: pointer;
    padding-right: 1rem;
    font-size: 2rem;
}

.tick {
    color: #90D5EC;
}

.cross {
    color: $color-error;
}