.quizzes {
    display: flex;
    flex-direction: column;
}

.quiz {
    width: 60%;
    margin: 2rem;
    align-self: center;

    @media only screen and (max-width:$bp-larger) {
        width: 80%
    }

    @media only screen and (max-width:$bp-large) {
        width: 90%
    }


    &,
    &:visited,
    &:link {
        text-decoration: none;
        color: $color-grey-dark-2;

    }

    &_content {
        display: flex;
        background-image: linear-gradient(rgba($color-white, .8), rgba($color-white, .8));

        @media only screen and (max-width:$bp-sm) {
            flex-direction: column;
        }
    }

    &_img {
        flex: 0 0 30%;
        display: flex;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }


    }

    &_details,
    &_metadata {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1;

        @media only screen and (max-width:$bp-sm) {
            align-items: center;
        }
    }



    &_metadata {
        flex: 0 0 10%;

        @media only screen and (max-width:$bp-sm) {
            padding: 1rem;
        }
    }

    &_title {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem;

        @media only screen and (max-width:$bp-sm) {
            margin: 1rem 0;
            align-self: center;
        }
    }

    &_description {
        align-self: flex-start;
        text-align: left;
        color: $color-grey-dark-1;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    &_category,
    &_date {
        font-weight: 300;
        font-size: 1.4rem;
        text-transform: capitalize;
        align-self: flex-end;
    }


    &_difficulty {
        font-size: 1.4rem;
        font-weight: 300;
        border-bottom: 1px solid black;
    }
}